@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .btn {
    @apply bg-orange rounded-full px-5 py-2 text-white;
  }
  .btn.alt {
    @apply bg-white rounded-full px-5 py-2 text-orange;
  }
  .btn.full {
    @apply max-w-max !important;
  }
  h2 {
    @apply text-[#272838] font-serif text-3xl;
  }
  .rbox {
    @apply rounded-lg h-64 bg-gray-500 font-serif relative;
  }
  .rbox p {
    @apply absolute bottom-3 left-3;
  }
  .rbox.patrn {
    background-image: url(/pattern.svg);
    @apply bg-cover bg-no-repeat bg-center;
  }
  section {
    @apply my-24;
  }
  .bg-img {
    width: 100%;
    height: 100%;
  }

  .bg-img::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
      90deg,
      rgba(60, 60, 60, 1) 0%,
      rgba(28, 28, 28, 1) 100%
    );
    opacity: 0.6;
  }
}
